<app-header></app-header>

<main>
    <div class="row">
        <div class="col-10">
            <h1>Courses</h1>
        </div>
        <div class="col-2 text-right">
            <button type="button" class="btn btn-outline-primary add-button" data-toggle="modal" data-target="#courseFormModal" (click)="setForm()">
                <i class="fas fa-plus-circle"></i>
            </button>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="width: 25%;">Course</th>
                    <th style="width: 20%;">Section</th>
                    <th style="width: 20%;">Students</th>
                    <th style="width: 20%;">Standards</th>
                    <th style="width: 15%;">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let course of courses" [class.table-warning]="!course.active">
                    <td>{{ course.name }}</td>
                    <td>{{ course.section }}</td>
                    <td># of students</td>
                    <td>{{ course.standards }}</td>
                    <td>
                        <div *ngIf="course.active; else archived">
                            <a class="btn text-info action-button" data-toggle="modal" data-target="#courseFormModal" (click)="setForm(course)"><i class="fas fa-edit" data-toggle="tooltip" title="Edit {{ course.name + ' | ' + course.section }}"></i></a>
                            <a class="btn text-warning action-button"><i class="fas fa-archive" (click)="archiveToggle(course)" data-toggle="tooltip" title="Archive {{ course.name + ' | ' + course.section }}"></i></a>
                            <a class="btn text-danger action-button" (click)="deleteCourse(course)"><i class="fas fa-trash-alt" data-toggle="tooltip" title="Delete {{ course.name + ' | ' + course.section }}"></i></a>
                        </div>
                        <ng-template #archived>
                            <a class="btn text-info action-button" data-toggle="modal" data-target="#courseFormModal" (click)="setForm(course)"><i class="fas fa-edit" data-toggle="tooltip" title="Edit {{ course.name + ' | ' + course.section }}"></i></a>
                            <a class="btn text-warning action-button" (click)="archiveToggle(course)"><i class="fas fa-undo" data-toggle="tooltip" title="Restore {{ course.name + ' | ' + course.section }}"></i></a>
                            <a class="btn text-danger action-button" (click)="deleteCourse(course)"><i class="fas fa-trash-alt" data-toggle="tooltip" title="Delete {{ course.name + ' | ' + course.section }}"></i></a>
                        </ng-template>
                    </td>
                </tr>
            </tbody>
        </table>
        <tfoot>
            <tr>
                <td colspan="100%">
                    <!-- Inline style to stop the scrollbar on larger screens. -->
                    <div class="row" style="margin: auto; min-width: 1024px;">
                        <div class="col-4">
                            <label><input type="checkbox" (change)="getCourses()" [(ngModel)]="showActive">&nbsp;&nbsp;Show only active courses</label>
                        </div>     
                    </div>
                </td>
            </tr>
        </tfoot>
    </div>
</main>

<app-footer></app-footer>

<!-- Modal -->
<div class="modal fade" id="courseFormModal" tabindex="-1" role="dialog" aria-labelledby="courseFormModal" aria-hidden="true">
    <form [formGroup]="courseForm">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h3 class="modal-title" id="courseForm">{{ formTitle }}</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="form-group row">
                    <label for="id_course_name" class="col-sm-2 col-form-label">Name:</label>
                    <div class="col-sm-10">
                        <input type="text" name="course_name" id="id_course_name"  class="form-control" placeholder="Name" formControlName="name" required />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="id_section_name" class="col-sm-2 col-form-label">Section:</label>
                    <div class="col-sm-10">
                        <input type="text" name="section_name" id="id_section_name"  class="form-control" placeholder="Section" formControlName="section" required />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="id_course_standards" class="col-sm-2 col-form-label">Standards:</label>
                    <div class="col-sm-10">
                        <select name="course_standards" class="form-control" id="id_course_standards" formControlName="standards">
                            <option *ngFor="let standard of standards" [ngValue]="standard.id">
                                {{ standard.name }}
                            </option>
                        </select>
                    </div>
                  </div>
                <div class="form-check row">
                    <div class="checkbox col-sm-12 text-right">
                        <label><input type="checkbox" formControlName="active">&nbsp;&nbsp;Active</label>
                    </div>
                </div>  
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="updateCourse()" [disabled]="!courseForm.dirty || !courseForm.valid">Save changes</button>
              </div>
            </div>
          </div>
    </form>
  </div>