<app-header></app-header>

<main>
    <!-- Standard page header - Title on left/add and import buttons on right -->
    <div class="row">
        <div class="col-6">
            <h1>Courses</h1>
        </div>
        <div class="col-6 text-right">
            <button type="button" class="btn btn-outline-primary add-button" data-toggle="modal" data-target="#courseFormModal" (click)="setForm()">
                <i class="fas fa-plus-circle"></i> Add
            </button>
            <a *ngIf="import == 'true'" href="/canvas-courses" type="button" class="btn btn-outline-warning add-button">
                <i class="fas fa-file-import"></i> Import
            </a>
        </div>
    </div>
    <!-- Responsive table -->
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <!-- Pagination and search row -->
                <tr *ngIf="courses?.length > 5" class="table-active">
                    <td colspan="100%">
                        <!-- Inline style to stop the scrollbar on larger screens. -->
                        <div class="row" style="margin: auto; min-width: 1024px;">
                            <div class="col-4">
                                <form class="form-inline">
                                    <input type="number" id="itemsPerPage" class="form-control form-control-sm" style="width: 4em;" [value]="itemsPerPage" (change)="setItemsPerPage($event.target.valueAsNumber)">
                                    <label for="itemsPerPage">&nbsp; courses per page</label>
                                </form>
                            </div>
                            <div class="col-4">&nbsp;</div>
                            <div class="col-4 text-right">
                                <input type="text" class="form-control form-control-sm" placeholder="Search Courses" [(ngModel)]="filterText">
                            </div>
                        </div>
                    </td>
                </tr>
                <!-- Sortable headers -->
                <tr>
                    <th style="width: 25%;"><a class="btn" (click)="setSortBy('name')">Course</a></th>
                    <th style="width: 20%;"><a class="btn" (click)="setSortBy('section')">Section</a></th>
                    <th style="width: 20%;"><a class="btn" (click)="setSortBy('numberOfStudents')">Students</a></th>
                    <th style="width: 20%;"><a class="btn" (click)="setSortBy('standardsName')">Standards</a></th>
                    <th style="width: 15%;">Actions</th>
                </tr>
            </thead>
            <tbody>
                <!-- Simple Bootstrap loader -->
                <tr *ngIf="loader" class="loader">
                    <td colspan="100%">
                        <div class="d-flex align-items-center">
                            <strong>Loading...</strong>
                            <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
                        </div>
                    </td>
                </tr>
                <!-- Courses with pipes for filtering and pagination -->
                <tr *ngFor="let course of courses | itemFilter:filterText | slice:start:end" [class.table-warning]="!course.active">
                    <td>{{ course.name }}</td>
                    <td>{{ course.section }}</td>
                    <td>{{ course.numberOfStudents }}</td>
                    <td>{{ course.standardsName }}</td>
                    <td>
                        <!-- Actions cell -->
                        <div *ngIf="course.active; else archived">
                            <a class="btn text-info action-button" data-toggle="modal" data-target="#courseFormModal" (click)="setForm(course)"><i class="fas fa-edit" data-toggle="tooltip" title="Edit {{ course.name + ' | ' + course.section }}"></i></a>
                            <a class="btn text-warning action-button"><i class="fas fa-archive" (click)="archiveToggle(course)" data-toggle="tooltip" title="Archive {{ course.name + ' | ' + course.section }}"></i></a>
                            <a class="btn text-danger action-button" (click)="deleteCourse(course)"><i class="fas fa-trash-alt" data-toggle="tooltip" title="Delete {{ course.name + ' | ' + course.section }}"></i></a>
                        </div>
                        <ng-template #archived>
                            <a class="btn text-info action-button" data-toggle="modal" data-target="#courseFormModal" (click)="setForm(course)"><i class="fas fa-edit" data-toggle="tooltip" title="Edit {{ course.name + ' | ' + course.section }}"></i></a>
                            <a class="btn text-warning action-button" (click)="archiveToggle(course)"><i class="fas fa-undo" data-toggle="tooltip" title="Restore {{ course.name + ' | ' + course.section }}"></i></a>
                            <a class="btn text-danger action-button" (click)="deleteCourse(course)"><i class="fas fa-trash-alt" data-toggle="tooltip" title="Delete {{ course.name + ' | ' + course.section }}"></i></a>
                        </ng-template>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="100%">
                        <!-- Pagination in table footer -->
                        <!-- Inline style to stop the scrollbar on larger screens. -->
                        <div class="row" style="margin: auto; min-width: 1024px;">
                            <div class="col-4">
                                <label><input type="checkbox" (change)="getCourses()" [(ngModel)]="showActive">&nbsp;&nbsp;Show only active courses</label>
                            </div>
                            <div *ngIf="courses?.length > 0" class="col-4 text-center">
                                  <p><a *ngIf="page > 1" class="btn text-primary" (click)="changePage(page -1)"><i class="fas fa-backward"></i></a>Page {{ page }}<a *ngIf="itemsPerPage < courses?.length && end < courses?.length" class="btn text-primary" (click)="changePage(page + 1)"><i class="fas fa-forward"></i></a></p>
                            </div>
                            <div *ngIf="courses?.length > 0" class="col-4 text-right">
                                <p *ngIf="end < courses?.length; else pageEnd">Showing courses {{ start + 1 | number }}-{{ end | number }} out of {{ courses?.length | number }}</p>
                                <ng-template #pageEnd>Showing courses {{ start + 1 | number }}-{{ courses?.length | number }} out of {{ courses?.length | number }}</ng-template>
                            </div>     
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</main>

<app-footer></app-footer>

<!-- Modal form for adding and updating courses -->
<div class="modal fade" id="courseFormModal" tabindex="-1" role="dialog" aria-labelledby="courseFormModal" aria-hidden="true">
    <form [formGroup]="courseForm">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h3 class="modal-title" id="courseForm">{{ formTitle }}</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="form-group">
                    <label for="id_course_name">Name:</label>
                    <input type="text" name="course_name" id="id_course_name"  class="form-control" formControlName="name" required />
                </div>
                <div class="form-group">
                    <label for="id_section_name">Section:</label>
                    <input type="text" name="section_name" id="id_section_name"  class="form-control" formControlName="section" required />
                </div>
                <div class="form-group">
                    <label for="id_course_standards">Standards:</label>
                    <select name="course_standards" class="form-control" id="id_course_standards" formControlName="standardsID">
                        <option *ngFor="let standard of standards" [ngValue]="standard.id">
                            {{ standard.name }}
                        </option>
                    </select>
                  </div>
                <div class="form-check row">
                    <div class="checkbox col-sm-12 text-right">
                        <label><input type="checkbox" formControlName="active">&nbsp;&nbsp;Active</label>
                    </div>
                </div>  
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" data-dismiss="modal" (click)="updateCourse()" [disabled]="!courseForm.dirty || !courseForm.valid">Save changes</button>
              </div>
            </div>
          </div>
    </form>
  </div>