<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a href="/" class="navbar-brand">
        <img src="/assets/img/small-logo.png" width="30" height="30" class="d-inline-block align-top" alt="logo">
        3D Gradebook
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a href="#" class="nav-link">What is the 3D Gradebook?</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Why is it free?</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">About Me</a>
            </li>
        </ul>
        <span class="navbar-text">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a href="/donate" class="nav-link"><i class="fas fa-donate"></i>&nbsp; Donate to the Project</a>
              </li>
              <li class="nav-item">
                <a href="#" (click)="googleSignIn()" class="nav-link"><i class="fab fa-google"></i>&nbsp; Login</a>
              </li>
            </ul>
        </span>
    </div>
</nav>

<!-- Footer -->
<footer class="page-footer font-small bg-light fixed-bottom">
    <div class="footer-copyright text-center py-3">Copyright &copy; 2020, Jeff Winget | <a href="https://github.com/wingej0/3dgradebook2.0"><i class="fab fa-github"></i></a>&nbsp; <a href="https://twitter.com/talkingsbg"><i class="fab fa-twitter"></i></a></div>
</footer>