<app-header></app-header>

<main *ngIf="standardsGroups$ | async as groups">
    <!-- Standard page header - Title on left/add and import buttons on right -->
    <div class="row">
        <div class="col-6">
            <h1>Standards</h1>
        </div>
        <div class="col-6 text-right">
            <button type="button" class="btn btn-outline-primary add-button" data-toggle="modal" data-target="#standardsFormModal" (click)="setStandardsForm()">
                <i class="fas fa-plus-circle"></i> Add
            </button>
            <a href="/canvas-courses" type="button" class="btn btn-outline-warning add-button">
                <i class="fas fa-file-import"></i> Import
            </a>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr class="table-active">
                    <td colspan="100%">
                        <!-- Inline style to stop the scrollbar on larger screens. -->
                        <div class="row" style="margin: auto; min-width: 1024px;">
                            <div class="col-4">
                                <form class="form-inline">
                                    <input type="number" id="itemsPerPage" class="form-control form-control-sm" style="width: 4em;">
                                    <label for="itemsPerPage">&nbsp; standards per page</label>
                                </form>
                            </div>
                            <div class="col-3 mr-0 pr-0">
                                <select name="standards-groups" class="form-control form-control-sm" id="id_standards_groups" (change)="setActive($event.target.value)">
                                    <option selected [value]="undefined">Select a Standards Group</option>
                                    <option *ngFor="let group of groups.groups" [value]="group.id" [selected]="(groups.active) ? group.id == groups.active.id : undefined">
                                        {{ group.name }}
                                    </option>
                                </select>
                            </div>
                            <div class="col-2">
                                <a class="btn text-primary select-btn" data-toggle="modal" data-target="#standardsGroupFormModal" (click)="setStandardsGroupForm()"><i class="fas fa-plus-circle" data-toggle="tooltip" title="Create New Standards Group"></i></a>&nbsp;
                                <a *ngIf="groups.active" class="btn text-warning select-btn" data-toggle="modal" data-target="#standardsGroupFormModal" (click)="setStandardsGroupForm(groups.active)"><i class="fas fa-edit" data-toggle="tooltip" title="Edit {{ groups.active.name }}"></i></a>&nbsp;
                                <a *ngIf="groups.active" class="btn text-danger select-btn" (click)="deleteGroup(groups.active)"><i class="fas fa-trash-alt" data-toggle="tooltip" title="Delete {{ groups.active.name }}"></i></a>
                            </div>
                            <div class="col-3 text-right">
                                <input type="text" class="form-control form-control-sm" placeholder="Search Standards">
                            </div>
                        </div>
                    </td>
                </tr>
                <!-- Sortable headers -->
                <tr>
                    <th style="width: 10%;"><a class="btn">Essential</a></th>
                    <th style="width: 15%;"><a class="btn">Category</a></th>
                    <th style="width: 15%;"><a class="btn">Name</a></th>
                    <th style="width: 45%;"><a class="btn">Description</a></th>
                    <th style="width: 15%;"><a class="btn">Actions</a></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let standard of groups.standards">
                    <td>{{ standard.essential }}</td>
                    <td>{{ standard.category }}</td>
                    <td>{{ standard.name }}</td>
                    <td>{{ standard.description }}</td>
                    <td>Actions</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- Standards Group Form Modal -->
    <div class="modal fade" id="standardsGroupFormModal" tabindex="-1" role="dialog" aria-labelledby="standardsGroupFormModal" aria-hidden="true">
        <form [formGroup]="groupForm">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="groupForm">{{ groupFormTitle }}</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="id_group_name">Name:</label>
                            <input type="text" name="group_name" id="id_group_name"  class="form-control" formControlName="name" required />
                        </div>
                        <div class="form-group">
                            <label for="id_categories">Add a Category:</label>
                            <input type="text" name="categories" id="id_categories" class="form-control" (keyup.enter)="addCategory(category)" #category>
                        </div>
                        <div class="form-group">
                            <ul *ngFor="let category of categories.controls; let i = index" class="list-group">
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <input type="number" min="1" max="{{ categories.length }}" class="form-control" value="{{ i + 1 }}" style="width: 20%;" (change)="moveCategories(i, $event.target.valueAsNumber)">
                                    <input type="text" class="form-control" value="{{ category.value }}" style="margin-left: 1em; width: 70%;" (change)="editCategories(i, $event.target.value)">
                                    <span class="text-right" style="width: 10%;"><a class="btn text-danger select-btn"><i class="fas fa-trash-alt" data-toggle="tooltip" title="Delete {{ category.value }}" (click)="deleteCategories(i)"></i></a></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="updateGroup()" [disabled]="!groupForm.valid">Save Changes</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- Standards Form Modal -->
    <div class="modal fade" id="standardsFormModal" tabindex="-1" role="dialog" aria-labelledby="standardsFormModal" aria-hidden="true">
        <form [formGroup]="standardsForm">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="standardsForm">{{ standardsFormTitle }}</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="id_category">Category:</label>
                            <select name="category" id="id_category" class="form-control" formControlName="category">
                                <option *ngFor="let category of groups.active?.categories" value="{{ category }}">{{ category }}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="id_standard_name">Name:</label>
                            <input type="text" name="standard_name" id="id_standard_name" class="form-control" formControlName="name" required />
                        </div>
                        <div class="form-group">
                            <label for="id_standard_description">Description:</label>
                            <textarea name="standard_description" id="id_standard_description" class="form-control" formControlName="description" required></textarea>
                        </div>
                        <div class="form-check row">
                            <div class="checkbox col-sm-12 text-right">
                                <label><input type="checkbox" formControlName="essential">&nbsp;&nbsp;Essential</label>
                            </div>
                        </div>  
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" data-dismiss="modal" (click)="updateStandard(groups.active.id)" [disabled]="!standardsForm.dirty || !standardsForm.valid">Save Changes</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</main>
<app-footer></app-footer>