<app-header></app-header>

<main *ngIf="displayedOutcomes$ | async as outcomes">
    <div class="row">
        <div class="col-6">
            <h1>Import Standards from Canvas</h1>
        </div>
        <div class="col-6 text-right">
            <button *ngIf="outcomes.length > 0" type="button" class="btn btn-outline-warning add-button" data-toggle="modal" data-target="#importFormModal" (click)="setImportForm()">
                <i class="fas fa-file-import"></i> Import All
            </button>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr class="table-active">
                    <td colspan="100%">
                        <!-- Inline style to stop the scrollbar on larger screens. -->
                        <div class="row" style="margin: auto; min-width: 1024px;">
                            <div class="col-4 mr-0 pr-0">
                                <select name="active_course" class="form-control form-control-sm" id="id_active_course" (change)="setActiveCourse($event.target.value)">
                                    <option selected [value]="undefined">Select a Course</option>
                                    <option *ngFor="let course of courses$ | async" [value]="course.courseID">
                                        {{ course.name }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </td>
                </tr>
                <!-- Sortable headers -->
                <tr>
                    <th style="width: 15%;"><a class="btn">Category</a></th>
                    <th style="width: 15%;"><a class="btn">Name</a></th>
                    <th style="width: 55%;"><a class="btn">Description</a></th>
                    <th style="width: 15%;"><a class="btn">Actions</a></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let standard of outcomes">
                    <td>{{ standard.category }}</td>
                    <td>{{ standard.name }}</td>
                    <td>{{ standard.description }}</td>
                    <td><a type="button" class="btn text-danger action-button" (click)="removeStandard(standard)">
                        <i class="fas fa-minus-circle" data-toggle="tooltip" title="Remove {{ standard.name }} from import list"></i>
                    </a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal fade" id="importFormModal" tabindex="-1" role="dialog" aria-labelledby="importFormModal" aria-hidden="true">
        <form [formGroup]="importForm">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="importForm">Name for Imported Standards Group</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="id_group_name">Name:</label>
                            <input type="text" name="group_name" id="id_group_name"  class="form-control" formControlName="name" required />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" data-dismiss="modal" (click)="importAll(outcomes)" [disabled]="!importForm.valid">Import Standards</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</main>

<app-footer></app-footer>