<app-header></app-header>

<main>
    <div class="row">
        <div class="col-10">
            <h1>Import Courses from Canvas</h1>
        </div>
        <div class="col-2 text-right">
            <button type="button" class="btn btn-outline-warning add-button" (click)="importAll()">
                <i class="fas fa-file-import"></i> Import All
            </button>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Course</th>
                    <th>Start Date</th>
                    <th>Import Class</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="loader" class="loader">
                    <td colspan="100%">
                        <div class="d-flex align-items-center">
                            <strong>Loading...</strong>
                            <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
                        </div>
                    </td>
                </tr>
                <tr *ngFor="let course of canvasCourses">
                    <td>{{ course.id }}</td>
                    <td>{{ course.name }}</td>
                    <td>{{ course.start_at | date }}</td>
                    <td><a type="button" class="btn text-warning action-button" (click)="importOne(course)">
                            <i class="fas fa-file-import" data-toggle="tooltip" title="Import {{ course.name }}"></i>
                        </a>
                        <a type="button" class="btn text-danger action-button" (click)="removeCourse(course)">
                            <i class="fas fa-minus-circle" data-toggle="tooltip" title="Remove {{ course.name }} from import list"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</main>

<app-footer></app-footer>