<app-header></app-header>

<main *ngIf="canvasCourses$ | async as canvasCourses">
    <div class="row">
        <div class="col-6">
            <h1>Import Courses from Canvas</h1>
        </div>
        <div class="col-6 text-right">
            <button type="button" class="btn btn-outline-warning add-button" (click)="importAll(canvasCourses)">
                <i class="fas fa-file-import"></i> Import All
            </button>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Course</th>
                    <th>Start Date</th>
                    <th>Import Class</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let course of canvasCourses">
                    <td>{{ course.id }}</td>
                    <td>{{ course.name }}</td>
                    <td>{{ course.start_at | date }}</td>
                    <td><a type="button" class="btn text-warning action-button" (click)="importOne(course)">
                            <i class="fas fa-file-import" data-toggle="tooltip" title="Import {{ course.name }}"></i>
                        </a>
                        <a type="button" class="btn text-danger action-button" (click)="removeCourse(course)">
                            <i class="fas fa-minus-circle" data-toggle="tooltip" title="Remove {{ course.name }} from import list"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="100%">
                        <a href="/courses"><i class="fas fa-step-backward"></i> Back to Courses</a>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</main>

<app-footer></app-footer>