body {
    font-family: 'Lato', sans-serif;
  }
  
h1, h2, h3, h4, h5, h6, th, .navbar-brand {
    font-family: 'Playfair Display', serif;
    color: #056C13 !important;
    font-style: italic;
}

th a.btn {
  font-family: 'Playfair Display', serif;
  color: #056C13 !important;
  font-style: italic;
  font-weight: bold;
  padding: 0;
}

/* Creates a top margin to slide underneath nav bar and adds conatainer width */
main {
  margin: 20px auto;
  /* Padding to clear the sticky footer */
  padding-bottom: 50px;
	width: 95%;
}

/* Vertical alingment */
.vertical-align {
  display: flex;
  align-items: center;
}

/* Fix alignment of add and import buttons above tables */
.add-button {
  margin-top: .5em;
  margin-left: .25em;
}

table a.btn {
  padding-top: 0;
  padding-bottom: 0;
}

table {
  min-width: 1024px;
}